<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>25A5316i</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>sm_osx</string>
	<key>CFBundleIconFile</key>
	<string>sm_osx_app_icon</string>
	<key>CFBundleIconName</key>
	<string>sm_osx_app_icon</string>
	<key>CFBundleIdentifier</key>
	<string>com.CubingStudios.sm-osx</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>sm_osx</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.7</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>21</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25A5316f</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.0</string>
	<key>DTSDKBuild</key>
	<string>25A5316f</string>
	<key>DTSDKName</key>
	<string>macosx26.0</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTXcodeBuild</key>
	<string>17A5285i</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>LauncherScript</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/EmeraldLoc/sm_osx/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>bspgzeN2KrtpfKZbGP2bweZgCIis9bQAA1lSEk0bwgU=</string>
	<key>UILaunchScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
</dict>
</plist>
